#parent {
  border: 2px solid red;
  width: 90vw;
  height: 1000px;
}
#parent {
  display: flex;
  flex-direction: row;
  justify-content: start;
}

.child {
  border: 2px solid orange;
  height: 40px;
  width: 40px;
}

.child-2 {
  order: 1;
}

.child-4 {
  order: 1;
}
