* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #14120b;
  color: white;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 72px;
  padding: 0 48px;
}
.logo img {
  height: 28px;
  width: auto;
}
.nav-links {
  display: flex;
  gap: 32px;
}
.nav-links a {
  text-decoration: none;
}
.nav-links a:hover {
  color: #808080;
}
.primary-cta {
  display: flex;
  gap: 15px;
}
.primary-cta button {
  height: 36px;
  padding: 0 16px;
  border-radius: 999px;
  cursor: pointer;
}
.primary-cta button:last-child {
  background-color: white;
  color: black;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 80px 48px 0;
  min-height: calc(100vh-72px);
}
.headline h2 {
  max-width: 1000px;
  font-size: 44px;
  line-height: 1.2;
  font-weight: 60;
  color: white;
}
.cta-button {
  margin-top: 32px;
}
.cta-button button {
  height: 48px;
  padding: 0 24px;
  border-radius: 999px;
  border: none;
  background: white;
  color: black;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
}
.hero-img img {
  width: 100%;
  margin-top: 80px;
  display: flex;
  justify-content: center;
  border-radius: 5px;
}
.trusted-by {
  border: 2px solid orange;
  margin-top: 10px;
}

.trusted-logos {
  background-color: #14120b;
  color: white;
}
